<div class="main-container-register">
 <div class="container-image">
<img src="assets/images/register.jpg">
 </div>
  <div class="container-register">
      <div class="container-title">
     <span>
        ¡Registrate!
     </span>
      </div>
      <div class="container-description">
        <span>Registra tus datos  para crear tu cuenta</span>
      </div>
      <div class="container-form-auth">
        <form>
          <div class="container-field">
            <div class="container-text-form">
              <label>Usuario</label>
            </div>
            <div class="container-input">
              <input type="text" placeholder="ingresa tu usuario">
            </div>
          </div>
          <div class="container-field">
            <div class="container-text-form">
              <label>Contraseña</label>
            </div>
            <div class="container-input">
              <input type="password" placeholder="ingresa tu contraseña">
            </div>
          </div>
          <div class="container-field">
            <div class="container-text-form">
              <label>Nombres</label>
            </div>
            <div class="container-input">
              <input type="text" placeholder="ingresa tu Nombre">
            </div>
          </div>
          <div class="container-field">
            <div class="container-text-form">
              <label>Apellidos</label>
            </div>
            <div class="container-input">
              <input  type="text" placeholder="ingresa tus apellidos">
            </div>
          </div>
          <div class="container-field">
            <div class="container-text-form">
              <label>Edad</label>
            </div>
            <div class="container-input">
              <input type="number" placeholder="ingresa tu edad">
            </div>
          </div>
          <div class="container-button">
            <button  type="button">Registrate</button>
          </div>
        </form>
      </div>
  </div>
</div>
