<div class="main-container-sidenav">
  <div class="container-header-menu">
    <div class="container-logo">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="container-auth-info">
      <div class="container-image">
        <img src="assets/images/trabajo.jpg">
      </div>
      <div class="container-name-description">
        <span>Kevin Jesús Vega</span>
        <p>
          Desarrollador Angular
        </p>
      </div>
    </div>
  </div>
  <div class="container-body-menu">

    <div class="container-icon-span">
      <i class="fa-solid fa-eye"></i>
      <span>
        Compra
      </span>
    </div>
    <div class="separator"></div>
    <div class="container-icon-span">
      <span>
       Cerrar Seción
      </span>
    </div>
  </div>
</div>
